<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>

    <ion-segment [hidden]='isSegmentHidden()' [(ngModel)]="segment" (ionChange)="updateEvents()">
      <ion-segment-button value="all">
        All
      </ion-segment-button>
      <ion-segment-button value="favorites">
        Favorites
      </ion-segment-button>
    </ion-segment>

    <ion-buttons [hidden]='isSegmentHidden()' end>
      <button ion-button icon-only (click)="showMap()">
        <ion-icon name="map"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
  <ion-toolbar no-border-top>
    <ion-searchbar color="primary" [(ngModel)]="queryText" (ionInput)="updateEvents()" placeholder="Search">
    </ion-searchbar>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list #eventList [hidden]="shownEvents === 0">
    <ion-item-group *ngFor="let group of groups" [hidden]="group.hide">
      <ion-item-divider sticky>
        <ion-label>
          {{group.date}}
        </ion-label>
      </ion-item-divider>

      <ion-item-sliding *ngFor="let event of group.events" #slidingItem [hidden]="event.hide">
        <button ion-item (click)="goToEventDetail(event)">
          <ion-avatar item-start>
            <img [src]="utils.getEventIcon(event)" alt="Event's profile pic">
          </ion-avatar>
          <h3>{{event.name}}</h3>
          <p>
            {{utils.convertToTime(event.startDateTime)}} &mdash; {{utils.convertToTime(event.endDateTime)}}
          </p>
          <p>
            {{event.location}}
          </p>
        </button>

        <ion-item-options>
          <button ion-button color="favorite" (click)="addFavorite(slidingItem, event)" *ngIf="segment === 'all'">
            Favorite
          </button>
          <button ion-button color="danger" (click)="removeFavorite(slidingItem, event, 'Remove Favorite')" *ngIf="segment === 'favorites'">
            Remove
          </button>
        </ion-item-options>
      </ion-item-sliding>

    </ion-item-group>

  </ion-list>
  <ion-list-header [hidden]="shownEvents > 0">
    No Events Found
  </ion-list-header>
  <ion-fab [hidden]='isSegmentHidden()' bottom right #fab>
    <button ion-fab color="danger" (click)="updateEvents('', true)">
      <ion-icon name="refresh"></ion-icon>
    </button>
  </ion-fab>
</ion-content>