<ion-header>
  <ion-navbar>
    <ion-title>Group Details</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div *ngIf="group">
    <h1>{{group.name}}</h1>
    <p>Category: {{group.category}}</p>
    <img [hidden]='!group.icon' [src]='group.icon'>
    <ion-icon [name]='utils.getPrivacyIcon(group.privacy)'> {{utils.getPrivacyMessage(group.privacy)}}</ion-icon>
    <p>{{group.description}}</p>

    <button ion-button [color]='groupsData.getSubsciptionUpdateButtonColor(group, groupType)' clear small icon-start (click)='groupsData.updateSubscription(group, groupType)'>
      <br>
      <ion-icon [name]="groupsData.getSubsciptionUpdateIcon(group, groupType)"></ion-icon>
      {{groupsData.getSubsciptionUpdateText(group, groupType)}}
    </button>
    <a href='tel: {{group.contact?group.contact.phone:""}}'>
      <br>
      <button [hidden]='!group.contact || !group.contact.phone' ion-button clear small color="primary" icon-start>
        <ion-icon name="call"></ion-icon>
        {{group.contact?group.contact.phone:""}}
      </button>
    </a>
    <a href='mailto: {{group.contact?group.contact.email:""}}'>
      <button [hidden]='!group.contact || !group.contact.email' ion-button clear small color="primary" icon-start>
        <br>
        <ion-icon name="mail"></ion-icon>
        {{group.contact?group.contact.email:""}}
      </button>
    </a>
    <button [hidden]='!group.address' ion-button clear small color="primary" icon-start (click)='utils.navigateTo(group.address)'>
      <br>
      <ion-icon name="navigate"></ion-icon>
      {{group.address}}
    </button>
    <button [hidden]='!group.webSite' ion-button clear small color="primary" icon-start (click)='utils.browseTo(group.webSite)'>
      <br>
      <ion-icon name="ios-globe"></ion-icon>
      {{group.webSite}}
    </button>
    <ion-list [hidden]='!group.administrators || group.administrators.length <0'>
      <ion-list-header>
        <ion-label>
          Administrators ({{group.administrators? group.administrators.length : 0}})
        </ion-label>
      </ion-list-header>
      <ion-item *ngFor="let admin of group.administrators">
        <ion-icon name="person" item-start></ion-icon>
        {{admin}}
      </ion-item>
    </ion-list>
  </div>
</ion-content>